.header{
    padding: 2rem 0;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
     background-image: url(multi/home/construmetal.png);
    background-size: 28rem;
    background-repeat: no-repeat;
    background-position-x: 5rem;
    z-index: 1000;
}
#navbarNavDropdown{
    margin: 0 0 0 100rem;
    font-size: 2rem;
  transition: all 2s;
}
.t{
    font-size: 3rem;
}
.nav-item :hover {
    font-size:2.5rem;
    background-color: $gris1;
    border-radius: 2rem;
    transition: all 1.5s;
}
#inicio{
    color: white;
    background-color: $azul1;
    padding: 0.8rem;
}
