.txt-job{
    margin: 1rem 0 0 1rem;
    color: #fff;
}
.img-job{
    margin: 3rem 0 0 3rem ;
    background-image: linear-gradient(to bottom, #0014e7, #6c57f2, #a18ffa, #d0c6ff, #ffffff);
    border-radius: 1rem;
    border: solid 0.15rem #fff;
}
.foto-a{
    margin: 1rem;
}